<h2>Apache {{PROJECT_NAME}} Releases for {{month}} {{year}}</h2>
{{#each releases}}
    <div style="margin: 3em 0;">
        <h3>
            <a href="https://issues.apache.org{{url}}" target="_blank" rel="noopener noreferrer">{{name}}</a>
        </h3>
        <p>
            Release Date: {{releaseDate.formatted}}
        </p>
        {{#each notes}}
            <h4>{{@key}}</h4>
            <ul>
                {{#each this}}
                    <li>
                        [<a href="https://issues.apache.org/jira/browse/{{issue}}" target="_blank" rel="noopener noreferrer">{{issue}}</a>] &mdash; {{title}}
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </div>
{{/each}}